PLASMO_PUBLIC_API_HOST=http://localhost:8000
PLASMO_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
PLASMO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-supabase-publishable-key
PLASMO_PUBLIC_CONTACT_EMAIL=you@example.com
